.form-register {
    width: 100%;
}

.form-register__title {
    padding: 50px 0 15%;
    margin: 0;
    color: #fff;
}

.form-register__form {
    width: 100%;
}

.form-register__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    column-gap: 15px;
}

.form-register__text {
    padding: 0;
    margin: 0;
    color: #fff;
}

.form-register__link {
    color: #94ADCF;
    cursor: pointer;
    font-size: 14px;
}

.form-register__link:hover {
    opacity: .7;
}

.form-register__button {
    width: 100%;
    padding: 7px 0 7px;
    margin: 20% auto 5%;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.form-register__button:hover {
    opacity: .7;
}

.form-register__button_disabled {
    opacity: .7;
    background-color: #F8F8F8;
    color: #C2C2C2;
    cursor: default;
}

@media screen and (max-width: 500px) {
    .form-register__title {
        text-align: center;
        font-size: 24px;
    }

    .form-register__button {
        margin-top: 135px;
    }
}